<!DOCTYPE html>
<html>
<head>
    <title>Bestsellers</title>
    <%- include partials/head.ejs %>
    <%- include partials/jsdefaults.ejs %>
    <script type="text/javascript" src="javascripts/book_modal.js"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <h1>NYT Lib</h1>
        </div>
        <div class="col-md-3">
            <div id="navigation_float">
                <h3>Navigation</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#" id="nav_bookshelf">Bookshelf</a></li>
                    <li><a href="/">Bestseller Lists</a></li>
                </ul>

                <h3>Bestseller Lists</h3>
                <ul class="nav nav-pills nav-stacked">
                    <% for(var list_index=0; list_index<lists.length; list_index++) { %>
                        <li><a href="#category_<%= list_index %>"><%= lists[list_index]['title'] %></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-md-9" id="content_block">
            <% for(var list_index=0; list_index<lists.length; list_index++) { %>
                <%
                    var title = lists[list_index]['title'];
                    var books = lists[list_index]['books'];
                %>
                <div class="col-md-12 column">

                <div class="row clearfix" id="category_<%= list_index %>">
                    <div class="col-md-12 column">
                        <h3><%= title %></h3>
                    </div>
                </div>

                <% for(var i=0; i<parseInt(books.length/3)+1; i++) {%>
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                        <% for(var j=i*3; j<(i*3)+3; j++) {%>
                        <% if (j < books.length) { %>
                            <%
                            var book_img = '';
                            if(books[j].book_image != null ) {
                                book_img = books[j].book_image;
                            } else {
                                book_img = "http://placehold.it/85x128";
                            }
                            %>
                            <li class="book" data-json="<%-JSON.stringify(books[j]).replace(/"/g, '&quot;') %>">
                                <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="<%= book_img %>" />
                                    <div class="caption">
                                        <h4>
                                           <%= books[j].title %>
                                        </h4>
                                        <h5>
                                            <%= books[j].author %>
                                        </h5>
                                        <p>
                                            <%= books[j].description %>
                                        </p>
                                        <p>
                                            <a class="btn btn-primary add-to-shelf" href="#">+Shelf</a> <a class="btn" href="#modal-container" onclick='javascript:callBookReview("<%= books[j].title %>","<%= books[j].author %>");' data-toggle="modal">Reviews</a>
                                        </p>
                                    </div>
                                </div>
                                </div>
                            </li>
                        <% } %>
                        <% } %>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>

    <div class="modal fade" id="modal-container" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog"  style="width:90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="clearModalContent();">×</button>
                    <center>
                        <h4 class="modal-title" id="myModalLabel">
                            Review
                        </h4>
                    </center>
                </div>
                <div class="modal-body">
                    <div class="row clearfix" id="my_modal_contents">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
